[2018-12-30 11:33] Burnett01 opened #8 "Missing endpoint /contacts/organizations"
Hello, a couple of months ago I wrote an api client for this API and just today I've noticed how the **/contacts/organizations** endpoint is no longer available.
It seems its documentation is also gone.

https://www.mocoapp.com/404#233-get-contacts-organizations
https://github.com/hundertzehn/mocoapp-api-docs/tree/master/sections

https://github.com/Burnett01/node-moco#get-contacts-organizations

[2018-12-30 20:54] agileapplications commented on #8
Hi Steve

Exactly. We made organization a first class citizen in MOCO and you find now all companies here: https://github.com/hundertzehn/mocoapp-api-docs/blob/master/sections/companies.md

You'll find it using the `type=supplier` param. I am sorry we mentioned this in our blog https://www.mocoapp.com/blog/409-aus-kunden-wird-einheitlich-firmen and wrote all people upfront that were using this end

[2019-01-01 14:53] Burnett01 commented on #8
Hi Tobias,
thank you for your response and help!

I will make sure to reflect those changes in my api-client.

Happy new year,
heers Steve

[2019-01-28 12:58] mcnilz opened #16 "get projects to create activities"
How to get the project and task IDs as user that does not have access to projects? In the webclient the IDs are included as JSON inside the HTML and the webclient is not using the API. But how to create activity entries through the API? GET /api/v1//projects should at least return the projects with tasks that are available for the user.

[2019-01-30 08:59] agileapplications commented on #16
Hi @mcnilz

We will check this asap. You are totally right that the web app is using a different approach that is not yet included in our public api.

Let me get back to you the coming days.
Best Tobias

[2019-02-01 20:41] agileapplications commented on #16
This is your endoint @mcnilz
https://github.com/hundertzehn/mocoapp-api-docs/blob/master/sections/projects.md#get-projectsassigned

[2019-02-01 20:41] #16 closed

[2019-02-04 08:44] euwa opened #20 "Example for an Activities-POST-Request is not working"
The POST-Request for creating an activity is not working.
Calling Curl via console is triggering Field-Errors for "date" and "description" like...

"date":["muss ausgefüllt werden","ist nicht gültig"],
"description":["ist zu kurz (weniger als 3 Zeichen)"]

Calling the API via POSTMAN we will get only a "301 - Moved permanently"

Is there anything we didnt recognized? Thanks in advance.

Here the c

[2019-02-04 16:12] euwa commented on #20
Looks like it is a permission issue...
Closing this Issus

[2019-02-04 16:12] #20 closed

[2019-02-04 16:41] agileapplications commented on #20
Thank you for getting back to us 👍

[2019-04-15 17:03] halas opened #27 "[FEATURE REQUEST] - endpoints for planned holidays and working hours schedules"
Hi!

We are using data from your api to show some personalized information on internal dashboard.
And we would like to show three pieces of information that - if I understand correctly - are a bit difficult/impossible to get:

1. Status of current worked hours per user (if given user worked too much or too little in comparison to due hours at this day). Here if I understand well I could of course

[2019-04-16 06:25] pic commented on #27
Hi halas,
thanks for your feedback, your requests make totally sense and we will take them into consideration and get back to you as soon as possible. Best regards

[2019-04-16 06:59] halas commented on #27
Thanks for your quick and positive feedback! Looking forward to hearing from you :)

[2019-04-23 06:22] X-Tender opened #32 "How to stop a running Timer/Task"
I can start the timer for a Task if I set the `hours` value to 0. But how can I stop it? Currently I just could only start a new one and then delete it immediately :)

I tried it via `PATCH: /projects/{project_id}/stop_timer` like it's being called on the website but it didn't worked out .

[2019-04-24 14:15] agileapplications commented on #32
Hi @X-Tender

That is a great feedback – and we will provide a solution for that. Give us a few days 👍

Best
Tobias

[2019-04-24 14:35] X-Tender commented on #32
Great, keep in mind that additionally to the "stop timer" a "continue timer" call will be required 😄

[2019-04-30 06:58] agileapplications commented on #32
Here you go @X-Tender https://github.com/hundertzehn/mocoapp-api-docs/blob/master/sections/activities.md#patch-activitiesidstart_timer

Continuing is also possible with that endpoint.

[2019-04-30 06:58] #32 closed

[2019-04-30 06:59] agileapplications commented on #27
A quick Update @halas - we will deliver this in 2-3 steps. Haven't forgot it.

[2019-04-30 10:15] halas commented on #27
Fantastic, thanks for the update!

[2019-04-30 20:36] andywenk opened #35 "Missing field 'hours' in GET /activities"
Hey there,

first of all thanks for the awesome API implementation. I am wondering, why I can't see the field `hours` in the response when requesting this URL:

`https://OUR_SUBDOMAIN.mocoapp.com/api/v1/activities?from=2019-01-01&page=2&project_id=PROJECT_ID&to=2019-01-31&user_id=`

The fields are:

`id,date,description,billed,billable,tag,remote_service,remote_id,remote_url,project/id,project/nam

[2019-04-30 20:59] pic commented on #35
`hours` should definitely be there and I can see it doing a test with our account. Do you get the entry and the field is missing?

[2019-04-30 23:56] andywenk commented on #35
Uh gosh - that was a strange bug. I use a little gem called json-to-csv an there was this bug I fixed in this PR: https://github.com/cescue/json-to-csv/pull/1/commits/c9d46c487b6fbe4820e1508696eaffab1bca4ed9

Thanks for the very quick look at this issue ;-)

All the best

Andy

[2019-04-30 23:56] #35 closed

[2019-05-01 12:54] andywenk opened #36 "Server responds with timeout"
Hi again,

due to the fact, that the API is responding in shards by 100 entries, but the data I need are much more, I calculated the number of pages (iterations) I need to get the full data set. I am reading the header "x-total". So in this example I need 81 iterations, to get all data:

`~/p/s/m/moco_api git:master ❯❯❯ bundle exec bin/moco_api activities --from=2019-02-01 --to=2019-02-28 --export

[2019-05-01 19:15] agileapplications commented on #36
Hi @andywenk

Unfortunately there is no way around that pagination. It's the only way we can keep MOCO smooth and fast for everyone. Maybe we have other options in the future 👍

Regarding your problem, that is not easy for us to reproduce. It reads more like a network issue (maybe disconnects from Wifi etc.?). Try to make 20 requests without a sleep and you should get some 429s.

Best Tobias

[2019-05-02 16:00] andywenk commented on #36
Hey @agileapplications ,

ok that sounds feasible. I just removed the sleep and was able to get more than 15 responses without a 429. So I suspect, that my (indeed Wifi) connection is very slow and unstable 😆

I am back in the office on monday and will test with LAN and fast Internet.

Thanks

Andy

[2019-05-02 18:47] petersentner opened #37 "Create invoices as drafts"
Is it planned that invoices can also be created as drafts via the API?

We have fixed-term contracts with many customers. All of these are single projects in Moco. Some customers also have several contracts (and also projects). At the beginning of the month, we create an invoice for each customer for all contracts they have.

We would like to automate this process using the API. We have already cr

[2019-05-02 19:02] agileapplications commented on #36
Ok great to hear – feel free to reopen the issue 👏 Happy integrating!

[2019-05-02 19:02] #36 closed

[2019-05-02 19:09] agileapplications commented on #37
Hi @petersentner

Now that you brought it up, you can consider it planned 👍 It makes totally sense. The invoicing endpoint is still in it's beginning. @pic Can you plan this and inform @petersentner afterwards?

Best Tobias

[2019-05-03 07:46] pic commented on #37
Hi @petersentner

it should work already passing `status: "draft"`, I've updated the documentation with this information.
Please let me know if there are any issue, thx

[2019-05-03 09:55] petersentner commented on #37
Great! - I tested it, it works for me.

[2019-05-03 09:55] #37 closed

[2019-05-06 14:11] petersentner opened #38 "[FEATURE REQUEST] Endpoints for planned billing"
Hi Moco Team,

as part of our planned automation of accounting, we would like to use the API to "plan billing".
(In German "Abrechnung planen").
I am looking forward to your feedback if this feature makes sense for you or not?

Greetings Peter

[2019-05-09 10:26] agileapplications commented on #38
Hi @petersentner

You are aware that this is today only available on fixed price projects?
We can make this public as well. Let me get back to you. I have to clarify some things first.

Best Tobias

[2019-05-24 06:18] agileapplications commented on #27
@halas

1. [ ] Status of current worked hours per user
2. [x] Date of next planned holiday
3. [ ] weekly hour target for given user

Regarding 2. planned holidays, there is already https://github.com/hundertzehn/mocoapp-api-docs/blob/master/sections/schedules.md#get-schedules

-> you can filter by `absence_code=4` and `from={current date}`

You will get all upcoming holidays/vacation. Will that he

[2019-05-24 07:36] halas commented on #27
It does indeed, I should be able to work with that, thank you!

[2019-05-24 07:39] halas commented on #27
As to weekly hour target for given user though, It is not exactly my point, maybe I did not express myself clearly, sorry.
What I would like to do is be able to show in our app if a person who works part time is expected to be at the office in the given moment. So it is more like a work schedule (not a regular absence).
I think I can already get the weekly hour target, but it does not help for thi

[2019-05-24 08:22] agileapplications commented on #27
Ok, that clarifies it – so you are more interested in the "pattern". Monday morning off, Friday full day off etc.?

[2019-05-24 08:23] halas commented on #27
exactly :)

[2019-05-24 19:08] agileapplications commented on #27
@halas

1. [ ] Status of current worked hours per user
2. [x] Date of next planned holiday
3. [x] weekly hour pattern for given user

Regarding 3. -> you'll find the pattern now in the attributes of the employment: https://github.com/hundertzehn/mocoapp-api-docs/blob/master/sections/employments.md#attributes

Just one missing 👍

[2019-05-24 19:09] agileapplications commented on #38
It will take some timer @petersentner, we haven't forgotten...

[2019-05-27 07:30] halas commented on #27
This is fantastic! Thank you so much for working on this so quickly!
Although, let me say I am worried about your work life balance at moco - it was Friday evening! ;)

[2019-05-27 11:24] dimy4 opened #44 "cash_discount or discount?"
Hello MocoApp Community!

Today, when we created an invoice via API, we got an error message:
`cash_discount: is not a number`

But in the documentation there is only "discount"

![image](https://user-images.githubusercontent.com/2969266/58416657-9ecf4b80-8082-11e9-94a2-a24f219d2f7c.png)

[2019-05-27 12:13] agileapplications commented on #44
Hi @dimy4

Sorry we have an issue here and will fix it tonight. Then the problem will disappear.
We'll will also add meaningful defaults and a some fields won't be mandatory anymore.

Have a look here: https://github.com/hundertzehn/mocoapp-api-docs/pull/43/files

Sorry for the inconvenience.
Best Tobias

[2019-05-27 12:52] dimy4 commented on #44
Hi Tobias,

then we wait for update!
thank you!

Kind regards
Dima

[2019-05-27 22:05] pic commented on #44
Hi @dimy4 ,
the system is updated so it should work as before, best regards

[2019-05-27 22:05] #44 closed

[2019-06-10 19:47] agileapplications commented on #27
@halas We have different schedules here at MOCO :-) Sometimes on the weekend, sometimes in the evening and sometimes we are off during the day to compensate. Although let me say we are highly motivated by feedback like yours 👍

[2019-07-03 12:49] chpio opened #46 "[FEATURE REQUEST] support for GraphQL"
Hi,
could you add support for GraphQL?

[2019-07-03 13:48] agileapplications commented on #46
We'll implement graphql for internal usage first @chpio. Maybe you have demand we can fulfil with a custom REST endpoint in the meantime...

[2019-07-03 14:07] chpio commented on #46
just the usual things:
* efficiently loading only needed data
* getting the data in one request (- pagination) & faster data delivery due to less rate limiting

One thing im missing tho: there's no way to load activities by their project id / task id, at least not a way im aware of, beside loading all activities and then filtering.

[2019-07-29 09:42] agileapplications commented on #27
@halas Just an update, that due do holiday season we have less resources here. It's not forgotten.

[2019-07-29 09:43] agileapplications commented on #46
@chpio Ok I see; sadly nothing we can provide in near terms. Bare with me that I close this PR since it's not actionable right now for us. It's on our long term agenda. Feel free to open it up again in a bit of time.

Best Tobias

[2019-07-29 09:43] #46 closed

[2019-07-29 09:45] agileapplications commented on #38
Hi @petersentner, we have limited resources due to holiday season and also there might be structural changes to extend this also for time and material based projects with might change the api. We need some more time to thing this through. I leave it open until then.

Best Tobias

[2019-07-29 10:27] petersentner commented on #38
Hi @agileapplications,

thanks for your feedback. We are still working on our accounting processes and at the moment everything is delayed. But it's still useful for us and nice to see that it will come sometime.
Our goal is to reduce the monthly outgoing invoices by 2020 through standing invoices (in German: Dauer-Rechnung) and then to collect the monthly planned amounts from all customers by dir

[2019-07-29 12:14] halas commented on #27
Thanks for an update! No worries, we are going slower here too :)

[2019-08-08 13:33] wirths opened #47 "fetch fails with 401"
Hi,

the documentation describes curl commands to retrieve API data and these commands are working properly. What is weird though is that fetch responds with an 401 error with exactly the same data as in curl.

# works
[code]
# fails with 401
[code]

Any idea where I am heading in the wrong direction?

Thanks,
Harald

[2019-08-08 14:24] nethad commented on #47
Hi Harald

The first example fetches `projects` and the second fetches `invoices`. I assume the user that belongs to this token has access to projects but not invoices. Could you check that?

[2019-08-08 14:25] wirths commented on #47
Hi @nethad,
Thanks for the quick reply. Account has full access and it does not change if calling /projects instead of /invoices - same results.

[2019-08-09 07:46] nethad commented on #47
I tried it here @wirths and it's working if you leave out the `mode: 'no-cors'`.

[2019-08-09 08:06] wirths commented on #47
If leaving `mode: 'co-cors'` out I receive another error message:

`Access to fetch at 'https://MYDOMAIN.mocoapp.com/api/v1/projects' from origin 'http://localhost:3000' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the reque

[2019-08-09 09:25] wirths commented on #47
SOLVED - It seems that running the fetch command in a page works but fails in a component with useEffects and NextJS. @nethad Thanks for your support

[2019-08-09 09:25] #47 closed

[2019-09-26 12:45] ricricucit opened #57 "English language"
is there any plan to have the MocoApp translated to english?
Is there any way [we](https://welance.com) can help you do that?

[2019-09-26 14:19] manubo commented on #57
Thanks for your request, but the MOCO-app is already translated into English.

[2019-09-26 14:19] #57 closed

[2019-10-09 12:31] AlexandreKilian commented on #38
@agileapplications any news on the status of making this public? We would need that for a similar use case

[2019-10-13 17:55] sem4phor opened #60 "Handle CORS requests"
Hello,

I tried to communicate with your REST api from my browser. I set up authorization header, etc. for example getting projects but I get a cors error. seems like you have to enable cors preflight requests on the server...

Request copied as fetch:
[code]
JS Console Error:
[code]

If you need more details let me know.

Kindly regards

[2019-10-14 06:41] agileapplications commented on #38
Yes guys - it's basically online. I just had one last comment: https://github.com/hundertzehn/mocoapp-api-docs/pull/59

You can use it already.

[2019-10-14 07:23] petersentner commented on #38
So the week starts well, very cool :-)
I'll try. Thank you

[2019-10-14 08:54] agileapplications commented on #38
Yes, everything online. I close it, you just open it again if sth is not working as expected 👍

[2019-10-14 08:54] #38 closed

[2019-10-14 14:47] agileapplications commented on #60
Hi @sem4phor – we'll look into this and we'll probably allow it since we have different authorization methods compared to the web frontend. Give us some day to think it through 👍

[2019-10-16 11:05] AlexandreKilian commented on #38
this endpoint is giving me an "invalid API Key" exception while other endpoint don't? same API key

[2019-10-17 15:09] pic commented on #38
Hi Alexandre, could you please provide more details?
I've just tried GET `{{full-url}}/api/v1/projects/{project_id}/payment_schedules` it and it was all fine for me.

[2019-10-21 11:59] sem4phor commented on #60
@agileapplications I am sorry to bother you but can you estimate a time when this will be implemented? More like one week or one month :D

[2019-10-22 10:56] pic commented on #60
Hi @sem4phor , we have prioritized this and we'll try to implement it this week

[2019-10-27 12:27] pic commented on #60
Hi @sem4phor , CORS should be allowed for resource under /api/v1/* path now. Best

[2019-10-27 12:27] #60 closed

[2019-10-27 16:38] dimy4 opened #62 "Invoice Payments filter by date?"
Hi!

Is it possible to filter Invoice Payments by date?

Best regards
Dima

[2019-10-27 16:56] agileapplications commented on #62
Hi @dimy4

Yes it is possible, if you look here in the docs: https://github.com/hundertzehn/mocoapp-api-docs/blob/master/sections/invoices.md#get-invoices

You can provide `date_from` and `date_to` params to narrow down the date range.

Best Tobias

[2019-10-27 17:15] dimy4 commented on #62
Hi @agileapplications

thanks. This works fine with Get Invoice. But i need the **Invoice Payments**, and this filter does not work for me.. :(

![image](https://user-images.githubusercontent.com/2969266/67638533-a58a1500-f8e5-11e9-9e40-f876e9e60503.png)

[2019-10-28 07:36] agileapplications commented on #62
Hi @dimy4 completely didn't read this. Sorry – we'll look into this 👍 Getting back to you.

[2019-11-08 13:53] agileapplications commented on #62
Hi @dimy4 - now you have it. See the new docs 👍

[2019-11-08 13:53] #62 closed

[2020-01-03 14:12] sommalia opened #68 "[FEATURE REQUEST] - endpoint for listing available deal_categories"
Hello.

At the moment when we want to create a deal via api request we must supply deal_category_id but regrettably there is no option available to retrieve the availabe deal_category_id's via api.

We have to go to the admin dashboard and copy the deal_category_id we want to use manually.

Maybe an endpoint can be created to list all available categories (something like /deals/categories or /deal

[2020-01-06 10:11] pic commented on #68
hi @sommalia , we'll provide that. Best regards

[2020-01-06 15:16] sommalia commented on #68
Thank you 👍

[2020-01-07 22:18] pic commented on #68
hi @sommalia , it should work now: https://github.com/hundertzehn/mocoapp-api-docs/blob/master/sections/deal_categories.md

Let us know if there are any problems, best

[2020-01-07 22:18] #68 closed

[2020-01-09 16:15] sommalia commented on #68
Again, thank you. Works very well 😃.

[2020-01-28 09:42] 0x20004 opened #71 "[FEATURE REQUEST] - Endpoint to set period lock"
Hello,

we need an api endpoint so we can automatically set the period lock (Periodensperre).
I didn't found something like that in the docs. Correct me please, if i'm wrong.

Even better would be a setting in the frontend to set a time to lock all changes.
For example a new day begins (00:01) and the period lock is set 48 hours before today.
So all accounts can edit the last two days only.
This s

[2020-01-30 19:21] jankohlbach opened #72 "[FEATURE REQUEST] - Endpoint to get user_id"

[2020-01-31 10:53] agileapplications commented on #71
Hi @0x20004

Sorry for the late reply. We will have an upcoming feature change here. You will be able to set a delay instead of fixed dates as well. For example "2 days" which means that time tracking is only allowed within 2 days backwards.

We won't provide an endpoint for now. Should happen this year.

Best Tobias

[2020-01-31 10:53] #71 closed

[2020-02-29 13:01] sommalia opened #77 "[Feature Request] Add task_id as optional parameter in get-actvities"
Hello,

currently activities have to created with a  _task_id_ in mind
(see https://github.com/hundertzehn/mocoapp-api-docs/blob/master/sections/activities.md#post-activities).

On the other hand if you retrieve activities from the api  you cannot filter by _task_id_, you have to do it manually.

It would be very nice if _task_id_ could be added as an optional parameter of get-activies.

[2020-03-01 06:42] agileapplications commented on #77
Here you go @sommalia https://github.com/hundertzehn/mocoapp-api-docs/commit/bd3b2564d37fddb93bf349155a3931f3459f9e6d

[2020-03-01 06:42] #77 closed

[2020-03-01 07:33] sommalia commented on #77
Thank you.

[2020-03-11 14:43] coeing opened #78 "Is it already possible to create new incoming invoices via API?"
Hi there,

We plan to connect Moco to a bookkeeping software we are using. Therefore we like to create incoming invoices as "Ausgaben" in Moco via the API. It looks like the API has no endpoints for that yet or am I missing something?

Cheers
Christian

[2020-03-11 14:47] coeing commented on #78
Just stumbled upon the open pull request: https://github.com/hundertzehn/mocoapp-api-docs/pull/76 It looks like that's the documentation for it, so can I assume the functionality is already there?

[2020-03-11 14:50] agileapplications commented on #78
We are going to release it soon @coeing -> if you use it already it might change slightly. We'll inform people soon. What are you doing exactly? Possible to share your use case?

[2020-03-11 17:48] coeing commented on #78
@agileapplications We are thinking about a regular sync of invoice/purchase data from Candis to Moco. Just planning right now, the implementation might not start too soon.

[2020-03-12 07:55] agileapplications commented on #78
@coeing Sounds interesting. So go ahead. We merged the docs :clap:

[2020-03-12 07:55] #78 closed

[2020-03-19 14:42] agileapplications commented on #72
@jankohlbach What do you need to do? Can you share some use case details?

[2020-03-24 16:24] jankohlbach commented on #72
I already solved it, but I think it would have been nice to have the user_id to get all the entries from just one user, now I got just all entries from all users and filtered them based on their names or mail addresses I think

[2020-04-06 14:38] ibtggmbh-ball opened #80 "New SchedulesEntities via API"
Hello,

is it possible to read the new schedules-beta items from the Api?
I can't find an schedule Item with hours. Only the with the am und pm flag.
I tried https://xxx.mocoapp.com/api/v1/schedules-beta and similiar but there is no endpoint.

Thanks in advance.

[2020-04-08 06:57] pic commented on #80
Hi, unfortunately it's not possible yet but we will add this for sure.
I guess you'll have it before the end of May.
Best regards.

[2020-04-23 10:04] sommalia opened #81 "Company type in deal endpoint"
Hi,

currently when you request a deal object over the api with a company attached the type will be returned as company::{company_type} (eg. "company::customer").

Shouldn't this just be *customer*?

https://{domain}.mocoapp.com/api/v1/deals/{id}'
[code]

Here is the example response from the api docs
https://github.com/hundertzehn/mocoapp-api-docs/blob/master/sections/deals.md

[code]

[2020-04-24 08:11] pic commented on #81
yes, this is a defect, we will fix it soon, thanks for reporting

[2020-04-24 20:38] pic commented on #81
@sommalia this is fixed now

[2020-04-24 20:38] #81 closed

[2020-04-27 09:16] denunv opened #82 "Find contact by phone number"
Right now we are using Zapier to get notified in a Slack channel about our missed SIP calls.
The contact information is stored in MOCO.
It would be nice to be able to find a MOCO contact by number so that we could add this information in the Slack message.

Am I missing something or is this not possible right now?

[2020-04-27 09:35] agileapplications commented on #82
Hi @denunv it's not yet possible but we have another request to search via name. So I add your request to this one and will give you a ping when it's ready.

[2020-04-29 04:39] agileapplications commented on #82
Hi @denunv check this one and open the Issue if it's not what you expected: https://github.com/hundertzehn/mocoapp-api-docs/pull/83

Best Tobias

[2020-04-29 06:49] denunv commented on #82
Thank you @agileapplications for the quick response. Is this possible with Zapier right now?
I cannot find the option in the MOCO App/Event.

I did add MOCO (1.5.2) to My Apps. But only MOCO 1.1.0 is available in the Zap.
These are the only options for searching:
<img width="932" alt="Bildschirmfoto 2020-04-29 um 08 45 50" src="https://user-images.githubusercontent.com/1753606/80567703-052cbe80-89

[2020-04-29 06:54] denunv commented on #82
Nevermind. I added the MOCO App without version number to my Zapier and found Find Contact.

But these are the only options (phone is still missing):
<img width="915" alt="Bildschirmfoto 2020-04-29 um 08 52 36" src="https://user-images.githubusercontent.com/1753606/80568209-e549ca80-89f6-11ea-80a8-8f089f6a0b30.png">

[2020-04-29 13:29] agileapplications commented on #82
:facepalm: I misread "Zapier". This is now available for the public REST API. Not Zapier. But I'll make sure we'll add it also there.

[2020-05-04 09:26] denunv commented on #82
@agileapplications It is now possible in Zapier. Thanks for the support. 👍🏻

[2020-05-04 09:26] #82 closed

[2020-05-05 19:53] agileapplications commented on #82
@denunv Great to hear, yes sometimes it takes a day on Zapier for the new version to appear. Thank you for the confirmation :+1:

[2020-05-14 14:29] agileapplications commented on #80
@ibtggmbh-ball Here you go: https://github.com/hundertzehn/mocoapp-api-docs/blob/master/sections/planning_entries.md

Best, Tobias

[2020-05-14 14:29] #80 closed

[2020-06-08 15:34] CorvS opened #87 "[FEATURE REQUEST] - Endpoint for sending invoices via email"
Hey there!

I already had a nice chat with Thomas about this.

We would like to automate our invoicing. For that it would be necessary to send an invoice via API.

For now - as a workaround - we send the emails using an email service and attach the invoices manually using the [/invoices/{id}.pdf](https://github.com/hundertzehn/mocoapp-api-docs/blob/master/sections/invoices.md#get-invoicesidpdf) en

[2020-06-09 04:42] agileapplications commented on #87
We'll have a look at this @CorvS. But it might take some time. Pretty busy atm with new features to come :muscle:

[2020-06-09 04:44] agileapplications commented on #72
Not sure I understood what you mean by "entries" but if you mean activities then you can filter them by user_id: https://github.com/hundertzehn/mocoapp-api-docs/blob/master/sections/activities.md#get-activities

I close this for now.

[2020-06-09 04:44] #72 closed

[2020-06-09 12:06] sommalia opened #88 "Endpoint for purchase creation does not work as described"
Hello,

unfortunately the endpoint for purchase creation does not work as described in the documentation.

Our curl statement with just the required parameters gets a 500 response status code.

[code]

[2020-06-09 12:09] agileapplications commented on #88
You are also sending `"custom_properties": { "Various" => "Stuff" },` which is not valid JSON. Can you check this @sommalia ?

[2020-06-09 12:14] sommalia commented on #88
Yes, we saw that so we left it out of our request. We are just sending with the required parameters (date, currency, payment_method and one item)

[code]

The Response Status code for this request is 400.

[2020-06-09 12:26] nethad commented on #88
@sommalia  I highly suspect an issue here with the JSON. Can you delete the last comma after the array literal?

[2020-06-09 12:28] nethad commented on #88
Also, the trailing comma in the items object

[2020-06-09 12:37] sommalia commented on #88
@nethad Like this?

[code]

Sadly this still fails (with status code 500). I also tried changing the value from tax_included to `True` (and leaving it out) with no success.

[2020-06-09 13:25] pic commented on #88
@sommalia we are checking this and we'll get back to you asap, thanks for reporting.

[2020-06-09 14:17] sommalia commented on #88
@pic Thank you :)

[2020-06-09 20:28] pic commented on #88
@sommalia it should be fixed now, best

[2020-06-09 20:28] #88 closed

[2020-07-01 10:01] dennisoderwald opened #89 "[Bug] Invoice: service period Validation"
The fields 'service_period_from' and 'service_period_to' must always be set together. If only one of the fields is set, an error 500 occurs.

Here a 422 message should be returned.

[2020-07-01 10:17] dennisoderwald opened #90 "[FEATURE REQUEST] Mark invoice items as billed"
As in the Internal API for the web app, it would be desirable for further automation if you could attach the "expense_ids" to the item so that they are automatically marked as billed.

As a workaround I can use the endpoint `POST /projects/{id}/expenses/disregard`, but there is the risk that if the invoice is cancelled, the expense items will not be billed again because there is no reference for M

[2020-07-01 10:33] dennisoderwald opened #91 "[FEATURE REQUEST] Project Expense Recurring Interval"
Unfortunately, it is not possible to see from a Project Expense from which recurring expense it was created or with which interval what would be very important for the calculation of the service period.

An additional service that is calculated every three months has a different service period than a monthly one.

[2020-07-02 09:35] pic commented on #89
This will  be fixed soon, thx

[2020-07-02 11:48] agileapplications commented on #91
Hi @dennisoderwald I am not sure the added a reference would make it better. It would move the logic we should implement to our users. We will implement proper service periods for expenses as well.

[2020-07-02 11:50] agileapplications commented on #90
@pic Would it be possible to allow to pass an array together with the item type?

1. expense_ids XOR
2. activity_ids

So that those items are markes as billed automatically?

[2020-07-02 13:15] dennisoderwald commented on #91
@agileapplications You got that right. But it would be a temporary solution that we could work with until you can calculate and display the service period.

[2020-07-02 22:13] pic commented on #89
It should be fixed now

[2020-07-02 22:13] #89 closed

[2020-07-06 07:49] sunsations commented on #89
Fixed now

[2020-07-23 20:54] dennisoderwald commented on #90
@pic Can you tell us more?

[2020-07-23 20:57] dennisoderwald opened #92 "[FEATURE REQUEST] Invoice Reminders"
As part of our automation, it would be helpful if we could create invoice reminders using the API. Because there is no bulk function via the frontend.

[2020-07-24 09:22] pic commented on #90
@dennisoderwald sorry, we had to postpone for a while but I'm confident we'll address this in the coming weeks

[2020-07-24 09:33] dennisoderwald commented on #90
@pic Okay, great. Thanks a lot.

[2020-07-29 09:10] nethad commented on #92
Hi Dennis

We'll put this on our internal agenda and will get back to you. A few of us are on holidays, so it might take ~2 weeks unfortunately, but we'll get back to you!

[2020-08-04 10:07] pic commented on #90
@dennisoderwald see https://github.com/hundertzehn/mocoapp-api-docs/pull/95 .
Let me know if there are any problems. Best regards

[2020-08-04 10:07] #90 closed

[2020-08-04 11:12] dennisoderwald commented on #91
Is there an estimate at the time of implementation of one of the two variants?

[2020-08-05 12:44] pic commented on #92
Hi Dennis, we have a beta implementation of this: https://github.com/hundertzehn/mocoapp-api-docs/commit/c846d02af43be0342801945b1cd7521faf40c719

We might change something in coming weeks, but it should be quite stable, best.

[2020-08-05 12:44] #92 closed

[2020-08-06 09:25] dennisoderwald opened #97 "[QUESTION] Billing email from project"
If I define a different e-mail address below a project in the billing. Where is this response in the API to take it when sending our own e-mail?

[2020-08-06 10:46] pic commented on #87
This is now available: https://github.com/hundertzehn/mocoapp-api-docs/pull/98/commits/4c96fceb59bba003488f3fb5903b9eedcae409a8
Let us know if there are any problems, best

[2020-08-06 10:46] #87 closed

[2020-08-07 12:46] pic commented on #97
@dennisoderwald it's not yet there. We will add it next week

[2020-08-10 10:16] agileapplications commented on #91
Hi @dennisoderwald we cannot add temporary solutions in public API without making everything complicated. I guess we could finish this year on this topic. It's also important to us to provide a proper solution.

[2020-08-25 11:46] pic commented on #97
@dennisoderwald we are changing some stuff here and so the update on api/V1 will be delayed, sorry

[2020-08-25 11:49] dennisoderwald commented on #97
No problem. Approximately a time estimate of how much delay we are talking about?

[2020-08-26 20:40] pic commented on #97
@dennisoderwald around 2 weeks.

"It Was Two Minutes Five Minutes Ago." ( https://getyarn.io/yarn-clip/75e6ef88-e3ce-4952-a595-2925cbaa81a3 )

[2020-09-11 07:57] nethad opened #101 "[FEATURE REQUEST] Target Hours API"
An API to retrieve target hours vs. actual hours.

[2020-09-15 07:53] dennisoderwald commented on #97
Ping :)

[2020-09-18 08:59] agileapplications commented on #97
@dennisoderwald It's online and can be used: https://github.com/hundertzehn/mocoapp-api-docs/commit/cb2461d744bbce31ff9842a79d687f83be3995e9

[2020-09-18 08:59] #97 closed

[2020-11-03 16:11] dennisoderwald opened #106 "[FEATURE REQUEST] Invoice Tags updatable"
In MocoApp we use the labels/tags as intermediate states to control automation internally. It would be really great if we could update an invoice.

An endpoint like https://github.com/hundertzehn/mocoapp-api-docs/blob/master/sections/invoices.md#put-invoicesidupdate_status would be sufficient to update the tags.

Is this possible in the short term?

[2020-11-04 08:14] agileapplications commented on #106
Yes I think we'll manage it @dennisoderwald But give us the November ok?

[2020-11-04 12:06] dennisoderwald commented on #106
Ok, awesome @agileapplications :)

[2020-11-05 10:50] Songworks opened #107 "[QUESTION] Tags/Labels editable for Deals"
Hello there,

Is it possible to PUSH/PUT the tags/labels through the `deals`-endpoint?
The field isn't mentioned in the `deals` PUSH-documentation, so I'm guessing it's currently not possible.

The `companies`-endpoint has this feature so I tried it the same way for `deals`. I submitted the field as either `labels` or `tags` and the value being an array of strings, but no luck. Also tried it with

[2020-11-16 22:20] iboargun opened #108 "make clickup valid as remote_service"
we are trying to customize the moco browser extension to work with clickup. We forked the extension and customized it already. The only issue currently is that the remote_service we send to the activites api call sends invalid "remote_service" back. can you please activate clickup as a valid value in the api? otherwise we have to mock this service as trello or something else...

if you also build

[2020-11-17 07:43] agileapplications commented on #108
Hi @iboargun yes we can do it. What is the string you send here? I guess "clickup" right?

Best, Tobias

[2020-11-17 22:34] pic commented on #107
Thanks @Songworks for yiour feedback. I've updated the doc: https://github.com/hundertzehn/mocoapp-api-docs/commit/becf7830e945774ef0662a36171ebed4d1c15665

We are working on a solution to update tags for any entity, including deals. Probably we will also add tags directly on deals POST and PUT.

[2020-11-21 02:03] agileapplications commented on #106
@dennisoderwald Please see the latest update: https://github.com/hundertzehn/mocoapp-api-docs/commit/b59f446738a221521e3c2ea7f3f44e1f5ac77e4b

[2020-11-21 02:03] #106 closed

[2020-11-21 02:04] agileapplications commented on #108
@iboargun We will allow "clickup" as service. Is that fine or any reasons against it?

[2020-11-21 02:06] agileapplications commented on #107
@Songworks Please check the latest update: https://github.com/hundertzehn/mocoapp-api-docs/commit/b59f446738a221521e3c2ea7f3f44e1f5ac77e4b

There is a general endpoint now to manage the tags/labels.

[2020-11-21 02:06] #107 closed

[2020-11-24 20:32] pic commented on #108
@iboargun "clickup" should now be accepted as a valid remote_service.
Regardin the link, it's something that it's managed on the client, it's the browser extension that sends to MOCO the desired `remote_url`. Best regards

[2020-11-24 20:32] #108 closed

[2020-11-25 13:35] iboargun commented on #108
hi sorry, just saw your answers and comments. yes "clickup" is fine.
and if you add this in remoteServices.js in your extension, we could use your official extension for our clickup instance.

`clickup: {
    name: "clickup",
    host: "https://app.clickup.com",
    urlPatterns: [
      ":host:/t/:id",
      ":host:/t/:id/:customId",
      ":host:/:space/v/l/f/:folder"
    ],
    description: (doc

[2020-11-25 15:30] manubo commented on #108
Hi @iboargun, we will add clickup to the removeServices.js for the next release.

[2020-11-27 08:13] Songworks commented on #107
@agileapplications Works great, thank you very much for you guys fast work! Cheers!

[2020-12-24 10:49] sommalia opened #111 "[BUG] Holiday hours not set when created via curl"
Hello,
we noticed when creating holiday credits, via the api, that the hours property was not set after creating the holiday entry.

When created via curl request:

`curl -X POST 'https://{domain}.mocoapp.com/api/v1/users/holidays'   -H 'Authorization: Token token={TOKEN}' -H 'Content-Type: application/json' -d '{ "user_id": 1234, "year": 2020, "title": "Holiday credits", "hours": 20 }'`

Response

[2020-12-24 11:05] sunsations commented on #111
Hi @sommalia

Thanks for informing us. We take care of in the next couple of working days 👍

Wish you also merry Christmas

[2020-12-28 09:28] sunsations commented on #111
Hi @sommalia

It's fixed. Please provide "days" in your input instead of "hours":

[code]

Kind regards
Thomas

[2020-12-28 09:29] #111 closed

[2020-12-31 11:34] fabianmax opened #113 "[FEATURE REQUEST] Set internal rates via API"
Hi there,

it would be great to have the ability of setting internal rates via the API.

[2021-01-04 10:15] agileapplications commented on #113
We'll have a look into it @fabianmax and get back to you :+1:

[2021-01-14 07:42] wittwerch opened #115 "Billable total"
It would be great to either
-  get the billable total (showed on /projects at the top) from our Moco app.
- get the billable items (and their total) per project (from /projects/1234/invoices)

We have build a small dashboard and would like to show that value compared to the costs set in Moco, to transparently show how we're doing :)

[2021-01-18 09:04] elfin-jmerkelbag opened #116 "POST schedules with am and pm set to false causes a 500"
Wenn POSTing a schedule with both parameters `am` and `pm` set to `false` causes the server to respond with status code `500`.

I'm not sure whether this is working as intended (as setting both parameters to `false` for a single day makes absolutely no sense) but at least in my experience `500`s are rarely intended.

[code]

[2021-01-18 09:47] agileapplications commented on #115
Hi @wittwerch, nice idea. Send a screenshot if possible (with fake numbers) :-)

We bundle a few API updates and also consider your request. I hope to fit it in in February :+1:

Best, Tobias

[2021-01-18 09:48] agileapplications commented on #116
You are right @elfin-jmerkelbag it is working as intended but should return a validation error :+1: We are taking care and inform your here. Thank you for reporting this bug!

[2021-01-19 17:20] elfin-jmerkelbag opened #117 "Strange behaviour POSTing the same schedule twice with different am/pm settings"
I `POST`ed the same schedule twice, once with both `am` and `pm` set to `true` and afterwards once with `am` set to `false` (and `overwrite` to `true` as well) instead. When fetching the list of schedules I receive two schedules which are identical except for their `id` - the schedule has not actually been overwritten (which is what I expected) and the first schedule's `am` is reported to be `fals

[2021-01-19 17:24] elfin-jmerkelbag commented on #117
I misread the `am` and `pm` properties returned after the second schedule had been created. The properties exactly reversed which means the `POST`ing of the second schedule must have caused the first to "split up".

[2021-01-19 17:24] #117 closed

[2021-01-20 06:00] agileapplications commented on #116
@elfin-jmerkelbag Can you confirm that this is no longer returning a 500?

[2021-01-20 08:53] elfin-jmerkelbag commented on #116
It is now working as expected for me:

[code]

[2021-01-20 08:53] #116 closed

[2021-02-11 08:29] agileapplications commented on #115
@wittwerch Can you send the screenshot I asked? That would help us understand your request. Thanks!

[2021-02-11 08:35] agileapplications commented on #101
![image](https://user-images.githubusercontent.com/235900/107615441-7f0ffa80-6c4c-11eb-9078-364da613847e.png)

[2021-02-11 08:38] agileapplications commented on #27
@halas Will be done soon with https://github.com/hundertzehn/mocoapp-api-docs/issues/101

[2021-02-11 08:46] agileapplications opened #119 "[FEATURE REQUEST] Get Project Payment Schedules"
Like GET /projects/{project_id}/payment_schedules -> GET /projects/payment_schedules

PARAMS:
* from, to (date of the payment schedule)
* checked true/false
* company_id (if easy possible)

[2021-02-16 06:51] wittwerch commented on #115
Hi @agileapplications

Sorry for not coming back early on that. We do use the invoices from Moco to report our gross profit on a per month base.

<img width="1000" alt="2021-02-16_07-41-59" src="https://user-images.githubusercontent.com/1575445/108027903-3335ca80-702b-11eb-8efe-7b5fd0e945fa.png">

During a month it would be nice to show the current progress aka the billable total. We usually look

[2021-02-17 12:29] agileapplications commented on #27
Hi @halas finally we were able to provide an endpoint where you can get the status of the current work hours per user: https://github.com/hundertzehn/mocoapp-api-docs/pull/120/files

Best Tobias

[2021-02-17 12:29] #27 closed

[2021-02-17 12:29] agileapplications commented on #101
Done: https://github.com/hundertzehn/mocoapp-api-docs/pull/120/files

[2021-02-17 12:29] #101 closed

[2021-02-17 16:46] halas commented on #27
thank you! so glad you develop this api :) keep up the good work! :)

[2021-02-25 09:32] nethad commented on #113
@fabianmax There is now an endpoint for internal hourly rates: https://github.com/hundertzehn/mocoapp-api-docs/blob/master/sections/account/internal_hourly_rates.md

[2021-02-25 09:32] #113 closed

[2021-02-25 09:33] nethad commented on #115
@wittwerch thanks for the clarification and the screenshots. This got delayed a little internally, but we will get back to you!

[2021-02-26 17:53] nethad commented on #119
Done: https://github.com/hundertzehn/mocoapp-api-docs/pull/124

[2021-02-26 17:53] #119 closed

[2021-03-08 10:25] agileapplications commented on #91
@dennisoderwald Small update: We are currently working on adding a "service period" also to an expense. The recurring expense will set that period when it's recurred. If this is done we add the field also to the API. We also automatically set the correct service period on the invoice then.

[2021-03-19 06:13] agileapplications commented on #115
@wittwerch So from the MOCO perspective the green number total on top of the project list (like on your screenshot) and the green one next to each project, correct?

[2021-03-19 06:16] wittwerch commented on #115
Yes, exactly!

[2021-05-01 10:57] dennisoderwald opened #130 "[BUG] Contact on the invoice is now always set to the API user"
When we generated an invoice without set the contact, the project manager was displayed on the invoice or the contact of the customer.

Now the API user who generates the invoice always appears. I have also not found a variable in the API documentation to change this again.

It would be great if it would just use the project manager like before (if not set).

[2021-05-14 10:16] agileapplications commented on #130
Hi @dennisoderwald

You can override the contact passing the `internal_contact_id`. We also added that now to the serialized attributes.

Best Tobias

[2021-05-14 10:16] #130 closed

[2021-07-03 17:54] crstnre opened #135 "Webhook NodeJS example"
I have trouble generating the correct signature with NodeJS.

Could you add an example for that?

My code so far:

[code]

Edit: I've tried your example Ruby code and compared the signature with my NodeJS result – they are identical. I assume the payload is wrong. How should I convert the object to string and WHICH object to convert?

[2021-07-06 08:37] crstnre commented on #135
I now came up with a rough solution, but that works only for a few events.

[code]

[2021-07-14 06:18] agileapplications commented on #135
Hi @crstnre, can you post an example with a specific payload and the signature you expect?

[2021-07-14 06:19] agileapplications commented on #91
@dennisoderwald This is done now: https://github.com/hundertzehn/mocoapp-api-docs/commit/be43457cfd67ffd54cda9637f42ea371af82230a

[2021-07-14 06:19] #91 closed

[2021-07-14 06:20] agileapplications commented on #115
We haven't yet hat the opportunity to work on this @wittwerch. Getting back to it...

[2021-07-22 08:29] crstnre commented on #135
Hey @agileapplications,

thanks for the response.

I have sent examples to Thomas via the Moco chat. Sorry, but I am a bit nervous to share the payload publicly.

We are investigating this issue currently. Maybe you could contact him to collaborate on that issue.

[2021-07-24 06:18] agileapplications commented on #91
@dennisoderwald We changed the implementation to be more flexible (https://github.com/hundertzehn/mocoapp-api-docs/commit/589507a4de7e0c44f6965d888d7a378df12b342f)

For backward compatability one can for now still send the billing_in_advance parameter, it will be mapped accordingly.

[2021-07-26 06:22] crstnre commented on #135
Thomas has mentioned that events with Umlauts were not working. The string was converted to ASCII, not UTF8.

Working solution:

[code]

[2021-07-26 06:22] #135 closed

[2021-11-12 08:26] wittwerch commented on #115
Hi @agileapplications, I just wanted to ask if that is still on the roadmap?

[2021-12-01 23:42] agileapplications commented on #115
@wittwerch We prepared a new `/report` endpoint to add also this one. Sorry for being unresponsive here. It's the first request yet and we have to provide a fast solution (performance-wise) to put this online. It will take more time unfortunately.

[2021-12-06 14:45] wittwerch commented on #115
@agileapplications Thanks for the update, appreciate it! Looking forward to the new API :)

[2021-12-14 13:56] Dure2000 opened #146 "[FEATURE REQUEST] letter_paper_id for invoices"
It would be great, if we could supply a letter_paper_id for invoices (/invoicess/{id}.pdf?letter_paper_id=12345) too, as it is for offers! At the moment it's just blank or standard

[2021-12-14 14:01] Dure2000 opened #147 "[FEATURE REQUEST] send_email endpoint for offers"
It would be great, if we could submit a  POST /offers/{id}/send_email for offers too, as it is for invoices! and of course provide a letter_paper_id in both cases :-)

Thanks
Ralf Schwalbe

[2021-12-15 07:28] agileapplications commented on #146
We'll consider this @Dure2000 👍

[2021-12-15 07:28] agileapplications commented on #147
@Dure2000 Makes sense. We'll plan this.

[2021-12-16 07:50] Hauke1979 opened #148 "Project tasks not filtered by `updated_after`"
Hey zusammen, irgendwie klappt bei mir updated_after nicht ...

https://xxxx.mocoapp.com/api/v1/projects/xxxx/tasks?updated_after=2019-12-05T10:39:09Z

Was mache ich falsch?

Danke für einen kurzen Tipp und viele Grüße,
Hauke

[2021-12-16 09:41] agileapplications commented on #148
Hi @Hauke1979

Ich denke der Satz aus der Doku _For synchronization **almost all** resources can be filtered by updated_after passing a time in UTC, as ISO8601 format._ ist hier der Grund.

Wir schauen, ob man das auch hier ermöglichen kann. In anderen Endpunkten klappt es aber?

Gruss Tobias

[2021-12-16 10:29] Hauke1979 commented on #148
Hi @agileapplications, danke für Deine schnelle Rückmeldung. Das habe ich mir auch schon gedacht.

Unsere Anforderung wäre, nur die aktualisierten Tasks zuzugreifen - am besten auch ohne Project Id ...

Bisher haben wir es nur bei Usern probiert, da hat es nicht geklappt - ist aber auch kein Thema da. Ich prüfe das gleich noch mal für Activities ...

[2021-12-16 10:47] Hauke1979 commented on #148
Bei projects geht es schon mal 👍

[2021-12-16 14:41] nethad commented on #148
Konnte via Support geklärt werden. Es handelt sich um einen Bug, wir beheben den :+1:

[2021-12-23 10:31] tehplague opened #149 "Provide a way to access timesheet data"
I'd like to ask for an API endpoint that allows us to fetch timesheet data (i.e. the amount of work spent in a project grouped by the configured tasks).
The data returned by the endpoint should roughly be the same as given by Moco at `https://<your_domain>.mocoapp.com/projects/<project_id>/timesheet`.  Preferably this endpoint should allow to specify the time range for which the data is collected,

[2021-12-23 11:06] nethad commented on #149
Hi @tehplague, we'll get back to you on that, it could take a little longer due to holiday absences though...

[2022-01-03 07:57] agileapplications commented on #149
@tehplague Happy and healthy new year 🎉

You already have the timesheet data by using the `/activities` endpoint:
https://github.com/hundertzehn/mocoapp-api-docs/blob/master/sections/activities.md#get-activities

You should filter by `project_id` and `from`, `to`. The only thing missing would be the grouping by task which is a presentational concern that should be easily done manually. The API pro

[2022-01-03 12:58] tehplague commented on #149
Excellent, works for me. Thank you, @agileapplications @nethad !

[2022-01-03 12:58] #149 closed

[2022-01-10 11:41] jansauer opened #152 "[FEATURE REQUEST] Add Soll-Ist report data"
Wir würden gern automatisiert auf zu große Abweichung von Mitarbeitern im Soll-Ist Performance Report reagieren können. Beispiel hierfür wäre eine Slack Nachricht wenn der Mitarbeiter mehr als 24 Stunden in der Erfassung zu seinem Soll fehlen oder auch wenn er zu viel arbeitet.

Leider kann ich aktuell in der API nichts zu Soll-Ist Reports finden. Zwar git es die zugrunde liegenden Daten aber ein

[2022-01-18 11:38] dennisoderwald opened #153 "[FEATURE REQUEST] Invoice DELETE"
Currently it is not possible to delete an invoice, since we work a lot with draft invoices temporarily, we want to automate this step and delete invoices.

[2022-01-18 12:35] dennisoderwald opened #154 "[BUG] POST /activities/disregard -> 404 (when payload is invalid)"
When using the `POST /activities/disregard` endpoint, we noticed that if no payload or an incorrect payload is submitted, only a 404 is returned and not a 400 with the error message.

[2022-01-18 12:48] agileapplications commented on #152
Nehmen wir auf @jansauer. Kann noch nichts genaues durchgeben, aber den Report nachbauen macht wirklich keinen Sinn, da hast du Recht.

[2022-01-18 16:11] dennisoderwald opened #155 "[FEATURE REQUEST] Project comments (with notification)"
Currently it is not possible to mention a user when commenting (`POST /comments`) via the API. It would be helpful if you could pass `mentioned_user_ids` as a field.

[2022-01-28 15:56] rawdlite opened #156 "No Label/Tag for Deal"
I need to create a label/tag for a Deal via the API.

[code]

Response is

[code]

So the Deal got created, yet the label was not set. "tags":[]
Am i missing something?

cheers tom

[2022-01-28 16:21] nethad commented on #156
@rawdlite Does the tag already exist on deals in general?

[2022-01-28 16:23] rawdlite commented on #156
The tag exists in moco but had not been assigned to any deals yet.
Will test that.

[2022-01-28 16:27] rawdlite commented on #156
Tested with an existing and assigned Tag.
No success

[2022-02-01 09:51] dennisoderwald opened #157 "[FEATURE REQUEST] projects/expenses tags filter"
We would like to filter the endpoint by tags.

[2022-02-01 14:23] Dure2000 opened #158 "[FEATURE REQUEST] PUT offers/{id}"
At the moment, there's only the _update_status_ "puttable". I wonder if we could have an fully featured Update function for _/offers_ ...
We currently waste so many offer-ids 🙄.
I understand, that it might be problematic for invoices, but offers? Why not?

Thanks
Ralf

[2022-02-11 16:21] agileapplications commented on #156
@rawdlite You cannot update the entry directly. You need to go via this endpoint: https://github.com/hundertzehn/mocoapp-api-docs/blob/master/sections/tags.md

Can you try this?

[2022-02-12 23:03] Khazmadoz opened #159 "Limit of Activities received with a single GET request"
Hi,

is there any reason to limit the received activities per GET request to 200?
It would be great if there was no limit, so all activites in a certain period of time can be pulled at once.

Best regards

[2022-02-13 13:02] Khazmadoz commented on #159
Never mind, I got myself an error in my request. Thank you, though!

[2022-02-13 13:02] #159 closed

[2022-02-13 15:22] rawdlite commented on #156
Thank you! The tagging endpoint works for me.
Being able to set a tag when creating a deal with a single call would be sweet, though.

[2022-02-14 15:22] agileapplications commented on #153
@dennisoderwald Please check and reopen if it doesn't work as expected https://github.com/hundertzehn/mocoapp-api-docs/blob/master/sections/invoices.md#delete-invoicesid

[2022-02-14 15:22] #153 closed

[2022-02-15 22:36] agileapplications commented on #158
@Dure2000 I mark it as planned – but cannot yet tell when we'll have it 🤷‍♂️

[2022-02-15 22:41] agileapplications commented on #154
We see what we can do here! We planned some resources for March to work on API requests.

[2022-02-15 22:44] agileapplications commented on #155
If there is nothing that blocks us we'll do it. I mark it as planned.

[2022-02-15 22:46] agileapplications commented on #157
There are not tags on expenses @dennisoderwald or do you mean by project tags (labels)?

[2022-02-15 22:47] dennisoderwald commented on #157
@agileapplications project tags, yes, sorry.

[2022-02-15 22:56] dennisoderwald opened #163 "[FEATURE REQUEST] GET /projects missing coLeader"
API endpoints around projects are missing the return of the "coLeader" - in the first step the output would be good, in the long term also writing when creating and updating from a project.

[2022-02-16 08:09] #148 closed

[2022-02-24 11:50] heldinz opened #166 "[FEATURE REQUEST] Creating a payment for a purchase"
I am trying to automate the processing of credit card expenses from a CSV via the API. So far I can create a new purchase, but I cannot see how to add a _payment_ for that purchase. Although I can see how to [retrieve payments for a purchase](https://github.com/hundertzehn/mocoapp-api-docs/blob/master/sections/purchases.md#attributes), I don't see how I can create a new payment, either when [creat

[2022-02-24 18:37] nethad commented on #166
Hi @heldinz

It's not currently possible, we are preparing to enhance the API in March and it's likely that we will be able to implement this then, but I cannot promise yet.

We can update you as soon as we have a decision on the scope.

[2022-02-25 12:25] heldinz commented on #166
Thanks for your reply @nethad! An update when you're ready would be great, thanks 🙏🏻

[2022-03-04 01:24] dennisoderwald opened #167 "[FEATURE REQUEST] GET /deals with offers"
I noticed that there is no way to retrieve the offers from a deal/lead. It would be good to get the offer ID's or the complete object below a deal or at least the possibility to filter for a deal in GET /offers.

[2022-03-05 21:01] danieldormann commented on #152
Hi @agileapplications,

gibt es hierzu Neuigkeiten? Generell wäre es schön auf die Reports zugreifen zu können. Gibt es dazu auch Pläne?

[2022-03-07 06:53] sunsations commented on #156
Functionality to create deals with tag assignmens is now possible.

[2022-03-07 06:53] #156 closed

[2022-03-08 18:54] dennisoderwald opened #168 "[BUG] POST /companies ignore default_invoice_due_days value"
It seems that when adding a company of type "customer" the field "default_invoice_due_days" is ignored.

[2022-03-11 10:54] fabianmax opened #169 "/account/fixed_costs does not return all costs"
When calling the `/account/fixed_costs` endpoint, the return I get contains only the first 5 of total 8 fixed costs. Is this an intended behavior? The returned entities are correct, it just seems to stop after the 5th.

Any ideas?

[2022-03-14 13:06] fabianmax commented on #169
As discussed with the Moco support, adding the year parameter to the API call solves the problem.

[2022-03-14 13:06] #169 closed

[2022-03-15 17:44] nethad commented on #152
@jansauer @danieldormann

Habt ihr diesen Endpunkt schon gesehen? https://github.com/hundertzehn/mocoapp-api-docs/blob/master/sections/users.md#get-usersidperformance_report

Der wäre dafür vorgesehen, fehlt euch da was?

[2022-03-17 15:58] nethad commented on #154
@dennisoderwald This should now be fixed an giving you a proper error message :+1:

[2022-03-17 15:59] #154 closed

[2022-03-19 23:02] danieldormann commented on #152
@nethad Das ist mir entgangen. Vielen Dank!

[2022-03-21 11:05] nethad commented on #168
Hi @dennisoderwald

This is a bit confusing and we've adapted the docs now: the field we serialize is called `default_invoice_due_days`, but to provide a value, you have to use `invoice_due_days`. I hope this makes it clearer.

[2022-03-22 08:29] nethad commented on #163
@dennisoderwald  This is already there in the `co_leader` field but was not documented, we now adapted the docs: https://github.com/hundertzehn/mocoapp-api-docs/pull/171

[2022-03-22 08:29] #163 closed

[2022-03-22 08:50] nethad commented on #147
@Dure2000 This is now possible: https://github.com/hundertzehn/mocoapp-api-docs/pull/172

[2022-03-22 08:50] #147 closed

[2022-03-23 10:11] nethad commented on #152
@danieldormann Alles klar :+1:

[2022-03-23 10:11] #152 closed

[2022-03-25 09:49] nethad commented on #157
@dennisoderwald This is now implemented: https://github.com/hundertzehn/mocoapp-api-docs/pull/173

[2022-03-25 09:49] #157 closed

[2022-03-25 13:18] nethad commented on #146
@Dure2000 This is now possible: https://github.com/hundertzehn/mocoapp-api-docs/pull/174

[2022-03-25 13:18] #146 closed

[2022-03-29 19:06] nethad commented on #167
@dennisoderwald This filter is now implemented: https://github.com/hundertzehn/mocoapp-api-docs/pull/179

[2022-03-29 19:06] #167 closed

[2022-03-29 19:08] dennisoderwald commented on #167
A filter makes perfect sense. Would an array with the ID's in the actual entity also be possible? @nethad

[2022-03-30 07:52] nethad commented on #167
@dennisoderwald It shouldn't be a problem, I'll look into this

[2022-03-30 12:11] nethad commented on #166
Hi @heldinz

Good news, this is now done: https://github.com/hundertzehn/mocoapp-api-docs/blob/master/sections/purchase_payments.md

:partying_face:

[2022-03-30 12:11] #166 closed

[2022-03-31 07:21] nethad commented on #167
@dennisoderwald This is done now: https://github.com/hundertzehn/mocoapp-api-docs/pull/182

[2022-03-31 10:07] heldinz commented on #166
Thanks so much, @nethad! 🎉

[2022-03-31 10:59] heldinz opened #183 "500 error code response on POST request to `/purchases`"
I'm testing sending a series of POST requests to the `/purchases` endpoint, and one or more requests consistently fail with a 500 error response. At first it was always the same one, so I thought it was something to do with that, but after repeated testing, sometimes the original failing one passes and sometimes multiple requests fail. I would have thought rate-limiting was the reason, except that

[2022-03-31 12:53] nethad commented on #183
Hi @heldinz

Have you tried submitting it without the file block? Does it work then?
You could also try to push the via file: https://github.com/hundertzehn/mocoapp-api-docs/blob/master/sections/purchases.md#patch-purchasesidstore_document

If you think it's the file, please write us on support@mocoapp.com or via In-App-Service and reference this issue. Thanks!

[2022-03-31 13:51] nethad commented on #183
@heldinz  I've checked the logs and I think I found the issue: the `identifier` you provided was already taken, it has to be unique. We'll check that this error is reported correctly.

[2022-03-31 14:16] heldinz commented on #183
@nethad Thanks for looking into this! I am still receiving intermittent errors after implementing the throttling so this is helpful.

Do you mean the `receipt_identifier`? Unfortunately I've now tried leaving this off the request entirely but I still get a 500 error.

[2022-03-31 14:52] nethad commented on #183
@heldinz I realized this is something you cannot influence via API, so it's actually a configuration problem of the purchase identifiers ("Nummernkreise") that creates duplicates of purchase identifiers, so this is a configuration problem on your Moco account. Please reach out to us on support@mocoapp.com and reference this issue, so we can sort this out :+1:

[2022-03-31 14:57] heldinz commented on #183
@nethad Thank you, will do!

[2022-04-01 12:59] dennisoderwald opened #184 "[FEATURE REQUEST] Project Expenses Filter for billable/billed/budget_relevant"
For the endpoints `GET /projects/expenses` and `GET /projects/{id}/expenses` it would be good if you could also filter by the parameters `billable`, `billed` and `budget_relevant`.

Currently we loop over all of them, which unfortunately always takes some time and API requests that we would like to avoid since we regularly run into the rate limits.

[2022-04-01 13:01] dennisoderwald opened #185 "[FEATURE REQUEST] Project Expenses Filter for custom properties"
For the endpoints `GET /projects/expenses` and `GET /projects/{id}/expenses` we work a lot with the custom properties. So far it is not possible to filter on an endpoint using the custom properties, but that would be super helpful. Maybe this is an option to implement.

[2022-04-01 17:07] dennisoderwald opened #186 "[FEATURE REQUEST] POST /invoices with text variables"
When using the `POST /invoices` endpoint, we noticed that the variables like `{Bruttobetrag}` do not work. It would be great if we could use them with parameters like `salutation` or `footer`.

[2022-04-01 17:24] dennisoderwald commented on #186
Okay, I just noticed that it probably works using the English name.

[2022-04-01 17:24] #186 closed

[2022-04-04 19:22] dennisoderwald opened #187 "[FEATURE REQUEST] Invoice Items with expense_id or a array of attached expense_id's"
At the moment there is no possibility to retrieve the expenses of an invoice neither via filter nor own endpoint.

Timesheets are possible but not the expenses.

With `GET /invoices/:id` you get an array with the items but the `service_type` is always `null` and you don't get an expense id. Neither collected nor per item.

[2022-04-04 19:53] dennisoderwald opened #188 "[FEATURE REQUEST] Invoice timesheet difference true/false"
In mocoapp it is indicated when an invoice deviates from the actual timesheet (=> `Die Stunden wurden manuell angepasst und stimmen möglicherweise nicht mit dem Stundenauszug überein.`). This information would be very useful in the API to be able to react to it.

[2022-04-07 16:39] shaikh1896 opened #189 "Issue with activity time"
I am having some issue, when i am updating any thing my my project which was created previously, same was not getting updated in data which i am calling through api. pls help

[2022-04-07 20:22] agileapplications commented on #189
@shaikh1896 Can you try to rephrase your issue? I don't understand what you are going after... 🤷‍♂️ Any anonymous examples?

[2022-04-07 20:24] agileapplications commented on #187
@dennisoderwald The `service_type` is a different feature not yet release in the UI. I understand your point 👍

[2022-04-07 20:25] agileapplications commented on #185
Tough one... very expensive operation right now considering the implementation we have so far. Will not be ready soon 🤷‍♂️

[2022-04-07 21:04] agileapplications commented on #183
@heldinz We advised you to have a throttling on your side so far. If this pops up again please don't hesitate to file a new issue. I would consider this a bug on our side then. Not so easy to fix tough (would take some time).

[2022-04-07 21:04] #183 closed

[2022-04-07 21:20] agileapplications commented on #187
#191

[2022-04-08 18:26] shaikh1896 commented on #189
Yeah So i have updated one previously created activity in one of my project on moco app. But it is not showing up when i am calling the api. Also how many activities can i fetch per call?

[2022-04-08 18:36] shaikh1896 commented on #189
For example, i am fetching all activities in a project in two ways:
1. Running for just one day say 7th april 2022
2. Running it from 1 Jan 2022 till 8th april 2022.
But in first case i am getting 440 entries for 7th april whereas in second case i am just getting around 80 entries for 7th april.
Pls help

[2022-04-13 08:46] #187 closed

[2022-04-13 08:46] #184 closed

[2022-04-18 18:55] tatianaperalta opened #192 "weekend call updates"
hello,
does the api also make weekend entries data avalilable right the same day these are created in moco?
our function is sending daily updates during the weekdays but we did not receive new data today (monday), even when there were some entries made during this last weekend,

[2022-04-19 07:08] nethad commented on #192
Hi @tatianaperalta

Are you talking about the activities endpoint? If so, yes, also weekend entries are possible. Did you check on mocoapp.com, if they appear?

[2022-04-19 21:07] tatianaperalta commented on #192
@nethad , thanks for your reply,
yes, the entries did appear in mocoapp.com the same day of their creation (sunday), still yesterday (monday) the new data was not pushed to our database. And, today all previous entries were correctly pushed into our database (including sunday's entries),

I wonder, is weekends' activity also available to the endpoint right away  after its creation? or, what could

[2022-04-20 10:22] acydburn commented on #115
It seems like the projects/{id}/report endpoint returns wrong numbers if several hours are marked as "bereits abgerechnet". Actually it would be nice if the values within the projects "Abrechnung" Tab would be reflected correctly:

Abrechenbare Positionen:
- x,xx Stunden
- xxx EUR

At the moment i think only billable_hours are returned anyways. The amount is not able to be calculated easily.

I th

[2022-04-20 18:19] shaikh1896 commented on #192
@nethad what i understand is suppose if we create an activity today (20 april 2022) for 15 april 2022 (yes for the past) in moco app, it wont be coming in api call if we are calling it for 20th april 2022 right?

[2022-04-22 06:09] shaikh1896 opened #194 "Getting limited activities"
Hello,  i am not getting all activities within a timerange?
Is there a limit on number of entries (activities) return in api respons?
Thanks in Advance

I am using this code:
curl -X GET \
  'https://{domain}.mocoapp.com/api/v1/activities?from=2022-01-01&to=2022-04-20&project_id=' \
  -H 'Authorization: Token token=YOUR_API_KEY'

[2022-04-22 06:22] sunsations commented on #194
@shaikh1896 Yes, we limit it to 100 entries. Please use the [Pagination](https://github.com/hundertzehn/mocoapp-api-docs#pagination) to get all entries.

[2022-04-22 06:22] #194 closed

[2022-04-22 10:01] shaikh1896 commented on #194
I tried that also but it gives me same number of entries as before.
<https://{domain}.mocoapp.com/api/v1/projects.json?page=10>; rel="next"

[2022-04-22 16:37] shaikh1896 opened #195 "Getting limited activities and Pagination does not works too"
Hello, i am not getting all activities within a timerange?
Is there a limit on number of entries (activities) return in api respons?
Thanks in Advance

I am using this code:
curl -X GET
'https://{domain}.mocoapp.com/api/v1/activities?from=2022-01-01&to=2022-04-20&project_id='
-H 'Authorization: Token token=YOUR_API_KEY'

I tried that also but it gives me same number of entries as before.
[https://

[2022-04-23 07:10] #195 closed

[2022-04-24 15:00] nethad commented on #192
@tatianaperalta what do you mean by "pushed to our database"? Activities are immediately available after you POST them to the API endpoint, via API itself and also on mocoapp.com. If not, please give us an example of what you tried to do (best as a curl command, of course without any API keys) and give us an exact date and time you tried where it didn't work as expected.

@shaikh1896 Any activitie

[2022-05-05 19:13] globin commented on #72
I think the question is that there is no obvious way to retrieve the user_id of the API key, therefore not being able to get the activities of oneself without extra information.

[2022-06-03 14:14] svenroduner opened #196 "missing fields in api-call for companies"
I'm in need for the `identifier` from a company. In your documentation, it is stated that the complete object is returned which includes the `identifier`. Unfortunately, the response doesn't contain it.
<br>
My specific Request is: `https://company.mocoapp.com/api/v1/companies`. I'm only getting half of the promised properties. [Companies - Attributes](https://github.com/hundertzehn/mocoapp-api-do

[2022-06-03 16:09] nethad commented on #196
Hi @svenroduner the identifiers should be in there, just not in the order we document. Can you please try again and confirm?

[2022-06-07 05:51] svenroduner commented on #196
Thanks for your response. I checked again and found out that the `identifier`-property is only in some entries and not in every. Is this how it should behave?

[2022-06-10 07:22] svenroduner commented on #196
I used a different approach and don't need the `identifier` anymore. Thanks for your help.

[2022-06-10 07:22] #196 closed

[2022-06-14 12:52] fabianmax opened #199 "Add Lead Time Range to API Response"
Thanks for adding the new time range to lead/deals in the UI. I would like to receive them as well from the API endpoint. Are there any plans to add them in the future?

[2022-06-14 13:58] sunsations commented on #199
It should be done in June 👍

[2022-06-26 06:57] sommalia opened #202 "HTTP 500 Error when creating user employment without from and to"
Hello,

when creating an employment entry without ``from`` and ``to`` the api returns a HTTP 500 error. The entry is created on the backend but the client will receive an error.

These parameters are currently optional, see: https://github.com/hundertzehn/mocoapp-api-docs/blob/master/sections/employments.md#post-usersemployments

Response

[code]

[2022-06-27 04:31] sunsations commented on #199
Available now 👍

https://github.com/hundertzehn/mocoapp-api-docs/blob/master/sections/deals.md

[2022-06-27 04:31] #199 closed

[2022-06-27 05:52] agileapplications commented on #202
@sommalia Thank you for your feedback. We'll check it and get back to you soon.

[2022-06-30 19:10] agileapplications commented on #202
We applied a fix @sommalia. Please check again and re-open if not solved appropriately.

[2022-06-30 19:10] #202 closed

[2022-07-04 15:17] lecodeski commented on #152
Ich hatte kürzlich auch den Soll-Ist gesucht und bin auch euere Diskussion gestoßen. Der Endpunkt wäre auch für mich genau das was ich suche.
Leider bekomme ich immer einen 403 zurück – obwohl ich in der Web-UI mein eigenen Soll-Ist natürlich einsehen kann. Auch alles andere wie Activity erstellen geht mit dem gleichen Api-Key und User-ID.

Kann das sein, dass das Rechte-mäßig wo anders aufgehange

[2022-07-07 20:50] lecodeski opened #204 "Berechtigungen für GET /users/{id}/performance_report"
Ich hatte kürzlich den Soll-Ist in der API gesucht und bin über eine [Diskussion](https://github.com/hundertzehn/mocoapp-api-docs/issues/152) gestolpert. Der [Endpunkt](https://github.com/hundertzehn/mocoapp-api-docs/blob/master/sections/users.md#get-usersidperformance_report) wäre auch für mich genau das was ich suche.
Leider bekomme ich immer einen `403` zurück – obwohl ich in der Web-UI mein ei

[2022-07-11 08:10] #192 closed

[2022-07-11 08:11] #189 closed

[2022-07-11 08:19] schakko opened #205 "[BUG] POST to /receipts endpoint results in HTTP 500 error when billable=true"
When POSTing a request to `/api/v1/receipts` and `billable` is set to `true` the server reponds with a HTTP 500.

cURL request made:

[code]

Setting `billable` to `false` succeeds.

[2022-07-11 08:30] schakko opened #206 "[FEATURE REQUEST] Allow setting purchase category when POSTing a receipt"
When doing a POST request to `/api/v1/receipts`, the purchase category should be providable. At the moment it can neither be provided by the field `purchase_category` nor `purchase_category_id`.

[2022-07-11 08:34] schakko opened #207 "[FEATURE REQUEST] Create a receipt refund request through the API"
Creating a refund for a receipt is not possible at the moment, at least the documentation does not provide any hints.
An endpoint for creating the recipe refunds would be useful.

[2022-07-12 07:34] agileapplications commented on #207
@schakko We'll add it and get back to you. But it will take some weeks. Not because it's that complicated but we have hundreds of other things already planned :-)

[2022-07-12 07:34] agileapplications commented on #206
@schakko We'll add it 👍

[2022-07-12 07:36] agileapplications commented on #205
@schakko If you don't provide a project, the receipt cannot be billable is currently a constraint on our side. We'll add a better validation so that you don't get a 500 on this one.

[2022-07-21 06:08] agileapplications commented on #205
@schakko You should get a proper 4XX error message in the future. Feel free to open again if sth is still unclear 👍

[2022-07-21 06:08] #205 closed

[2022-07-26 11:23] michalrapczynski opened #208 "WebHooks Authorization"
Hi,

could you explain what kind of authorization token is needed for the creation of web hooks?
We tried to create a webhook with a token with limited access with no luck.

Thanks

[2022-07-26 11:39] manubo commented on #208
Hi, you need the API-key of a user with access to settings in order to create web hooks.

[2022-07-27 13:03] ibali30 opened #209 "Deleted invoices issue"
Hello,
I am currently working on a fintech projects which requires to periodically synchronise invoices from moco. I am noticing that moco gives the possibility to delete invoices, but is there a way to track the deleted invoices using Moco's apis so we can undertake actions based on deleted invoices?

[2022-07-27 13:06] ibali30 opened #210 "Date parameters not working"
Hello,
I am trying to filter invoices and purchases by date params but this does not seem to work.
Here is how I do it:
![image](https://user-images.githubusercontent.com/77961480/181254214-ee72299b-4ed3-4bf6-963c-c6e3630c3fc4.png)

[2022-07-27 14:18] nethad commented on #210
@ibali30 I assume you don't get any invoices back because you filter for invoices in the future (August 2022). Could that be the case?

[2022-07-27 14:21] ibali30 commented on #210
@nethad Nope, I get all the invoices, although them are created in the past

[2022-07-27 14:23] nethad commented on #210
@ibali30 It looks like you have whitespaces in the URL, can you try to remove them (e.g. after `date_from`)

[2022-07-27 14:26] ibali30 commented on #210
@nethad It seems this is the case. Does the date represent the creation date or modification date?

[2022-07-27 15:17] manubo commented on #210
@ibali30 The `date_from` and `date_to` dates filter the invoices by the date of the invoices.

[2022-08-10 09:27] ibali30 opened #211 "No recipient company defined in invoices response"
Hey,
The sale invoice response does not include recipient company. This is not happening in purchases response.
Thanks

[2022-08-10 09:42] #210 closed

[2022-08-10 09:42] #208 closed

[2022-08-10 09:44] nethad commented on #209
Hi @ibali30

Currently there's no way of tracking deleted invoices, you would have to use webhooks for that.

[2022-08-10 09:44] #209 closed

[2022-08-10 13:18] nethad commented on #211
HI @ibali30

Unfortunately it's not really clear what you mean here, could you specify the endpoint and the field you expect? Can you give an example output you would like to see?

Thank you!

[2022-08-10 15:33] ibali30 commented on #211
This is the endpoint:
curl -X GET \
  'https://{domain}.mocoapp.com/api/v1/invoices' \
  -H 'Authorization: Token token=YOUR_API_KEY'

So basically a sale invoice should also have a buyer.
In other terms the contact is not part of the response:
![image](https://user-images.githubusercontent.com/77961480/183945590-c63c4905-953b-41cc-abd8-8bbf940d2f16.png)

[2022-08-16 13:58] nethad commented on #211
This seems very specific to your use of custom fields. Please get in touch with us via our support channels.

[2022-08-16 13:58] #211 closed

[2022-08-18 14:04] centigrade-thomas-becker opened #212 "Minor typo in documentation"
In the companies function PUT the header key "Authorization" is spelled with a lower case A.
https://github.com/hundertzehn/mocoapp-api-docs/blob/master/sections/companies.md#put-companiesid
[code]

In the other entities, e.g. "contacts" the header key "Authorization" is spelled with a capital A
https://github.com/hundertzehn/mocoapp-api-docs/blob/master/sections/contacts.md#put-contactspeopleid
[

[2022-08-20 08:09] wittwerch commented on #115
Yes, exactly. We basically want a projection of the revenue we are going to do in that month.
@agileapplications Is that feature on the roadmap somehow? Would appreciate a short feedback on this.

[2022-08-22 06:50] roboyoben opened #213 "Is there a way to increase the page size? [Feature Request]"
Hi, thank you for providing the endpoints, they're really helpful!

I was wondering if there's a way to increase the number of entries shown per page? For an organization with tens or hundreds of thousands of entries for some tables, it can take quite a while to load all the data, even if the data is limited to just one year, especially with the rate limiting of 15 requests per 15 seconds.

If not

[2022-08-22 13:59] agileapplications commented on #213
@roboyoben The reason we have the limit is to make sure other requests are not affected in a negative way. What are you trying to solve? Why do you need to load the data for a full year? Is it a one-time thing our do you do this regularly?

[2022-08-22 15:07] roboyoben commented on #213
We want to use the data to analyze time spend on projects and so on by loading it into an analytical tool. That's also why we probably want at least the data for the current year, but for some use cases we might even want it for a greater time frame to get an accurate picture of it. That's something we're still figuring out while developing. This process would run probably once per day, so we were

[2022-08-26 15:10] ibali30 opened #215 "Include payments and customer objects inside invoices response"
Hey,
I have noticed that customer and list of payments are not included in the response from this endpoint:
GET /invoices
And we are killing our apps by performing two http calls for every sale invoice  in order to retrieve the payments and customer.
Can these be included in the invoice response?

[2022-08-27 09:37] agileapplications commented on #215
@ibali30 We are looking into a way to query for those sub resources in a single query by proving sth like `?ids=1,2,3,4` to almost all endpoint. Will keep you updated.

[2022-08-27 09:38] agileapplications commented on #213
@roboyoben Thank you for the clarification. Wouldn't it be possible to not query the full years data once per day but just the delta?

[2022-08-27 09:39] agileapplications commented on #212
@centigrade-thomas-becker I fixed it 👍 https://github.com/hundertzehn/mocoapp-api-docs/commit/e104fb1b6019f72632b4190a849d67094466493c

[2022-08-27 09:39] #212 closed

[2022-08-27 09:42] agileapplications commented on #204
@lecodeski Gut hast du nochmal nachgehakt. Es ist so, `/users` ist nur mit Personalrechten abrufbar. Der eigene Soll-Ist ist so nicht abrufbar. Baut ihr für jeden MA eine eigene Übersicht? Wäre gut, hättest du noch etwas mehr Background-Info. Danke, Tobias

[2022-08-27 15:03] lecodeski commented on #204
Ja, wir haben ein [CLI-Tool](https://github.com/lecodeski/moco_cli) programmiert und ich hatte eben noch die Überstundenfunktion eingebaut. Im Moment ist es so gelöst, dass noch ein extra Token mit Personalrechten abgefragt wird. Hätten das gerne aber sauber so gelöst, dass es mit dem jeweiligen Mitarbeiter-Token abrufbar ist, so wie die restlichen Funktionen (v. a. die Activity-Endpunkte).

[2022-08-29 07:34] ibali30 commented on #215
I think you can do the same thing as in purchases part.
GET /purchases does include the payments in the response object, while GET /invoices does not

[2022-08-31 08:29] glood opened #216 "/report/absences does not return sickdays"
When calling the /report/absences endpoint, the return contains no values for "sickdays" (value is always zero).

[2022-08-31 09:13] glood opened #217 "/project/{id}/report: Include "hours_unbilled" & "costs_unbilled""
Currently, it takes a lot of requests to get the open, billable positions and their value of a project (unbilled hours). On the web platform, this evaluation is possible via "/projects/{id}/invoices/unbilled". Is it possible to integrate this information into the endpoint "/project/{id}/report"? A summed output and a detailed listing under "costs_by_task" would be ideal. Or am I missing an easy wa

[2022-08-31 15:08] agileapplications commented on #217
@glood Can you elaborate on what you are building out of curiosity? Is it sth what you would fetch per project or one list with the values for all projects at once?

[2022-08-31 15:24] glood commented on #217
@agileapplications It is about a monthly accrual of all open, not yet invoiced hours per project - which is especially essential for projects that work without budgets. Whether this call is made per project (/projects/{id}/report) or via the general endpoint (/projects) would not be decisive as long as the values are shown per project. Of course, retrieving all projects at once would clearly reduc

[2022-08-31 15:35] glood commented on #216
Request:
[code]

X-Request-Id for debugging:
`
0e135952-e155-4117-9cec-61bb8f5d6870
`

Response:
[code]

[2022-09-02 14:38] nethad commented on #188
Hi @dennisoderwald

This is now implemented: https://github.com/hundertzehn/mocoapp-api-docs/pull/220

[2022-09-02 14:38] #188 closed

[2022-09-02 16:34] roboyoben commented on #213
@agileapplications yes that could also be a possible way of doing it. Since we only retrieve the data once per day however we decided that we can run the builds at night for now, so the longer build times are not noticeable. During development of the data model it is still not a good solution, but we can work with this for now. Thank you for your help

[2022-09-06 15:56] nethad commented on #215
Hi @ibali30

We won't include the objects, but it's now a lot more efficient to fetch them in one go, see: https://github.com/hundertzehn/mocoapp-api-docs/pull/224

[2022-09-06 15:56] #215 closed

[2022-09-16 06:39] agileapplications commented on #216
Internal Note: https://trello.com/c/tsDmSrJJ/11255-bug-no-sickdays-in-api-v1

[2022-09-16 06:42] agileapplications commented on #217
@glood Sorry for the delayed response. So would this be the value that would help (on projects/123/report)?
![image](https://user-images.githubusercontent.com/235900/190573479-456bfb0a-b5e5-49ff-b494-9365e147063a.png)

[2022-09-16 12:50] glood commented on #217
@agileapplications  no probs and thanks! the parameter "hours_not_yet_billed" on "project123/report" would already help a lot. it would be optimal if the corresponding value could also be shown ("unbilled_money"), because otherwise all tasks per project have to be read out and cumulated individually for the calculation of this value.

[2022-09-19 08:32] agileapplications commented on #216
@glood Ok we applied a fix here. There was indeed some wrong access. Can you confirm this is working now?

[2022-10-11 08:09] Dure2000 commented on #146
👍👍👍😍

Tobias Miesel ***@***.***> schrieb am Mi., 15. Dez. 2021,
08:28:

[2022-10-11 10:17] roboyoben opened #227 "/projects/{project_id}/contracts Missing info: No connection between Contracts -> Tasks"
Hi, we are currently looking into individual projects. From ```/projects/{project_id}/tasks``` we can get the services along with their ```hourly_rate``` and ```budget``` for a project, and in ```/projects/{project_id}/contracts``` we can get the users assigned to a project. But for the contracts endpoint the ```budget``` is always ```null``` and the ```hourly_rate``` is always ```0```, and there

[2022-10-11 13:47] roboyoben commented on #227
Sorry, I just saw that the information is available in the ```/activities``` endpoint.

[2022-10-11 13:47] #227 closed

[2022-11-21 09:02] schakko opened #231 "Typo: API > Purchases > Attributes > Field 'title'"
In the `Attributes` section of the [Purchases API](https://github.com/hundertzehn/mocoapp-api-docs/blob/master/sections/purchases.md), there is a comma before the `title` property name in the JSON sample:

[code]

It should be

[code]

[2022-11-21 09:13] nethad commented on #231
Thanks @schakko it's fixed now: https://github.com/hundertzehn/mocoapp-api-docs/commit/5de4d924341589c9bd7a1549c53a63421d85b4c5

[2022-11-21 09:13] #231 closed

[2022-11-21 09:18] nethad commented on #216
Closing this issue, please re-open if the issue still exists.

[2022-11-21 09:18] #216 closed

[2022-11-28 14:36] nethad commented on #206
@schakko This is done now, check out: https://github.com/hundertzehn/mocoapp-api-docs/pull/235

[2022-11-28 14:36] #206 closed